* {
  margin: 0;
  padding: 0;
}
.box {
  width: 290px;
  height: 470px;
  margin: 100px auto;
  border: 1px solid #000;
}
.list li {
  list-style: none;
  float: left;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #999;
  border-radius: 10px;
  background: #eee;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 25px;
}
input {
  width: 285px;
  height: 50px;
  font-size: 20px;
  text-align: right;
  outline: none;
  border: none;
  padding-right: 5px;
}
.txt2 {
  border-bottom: 1px solid #000;
}
.list li:hover {
  background: #888;
}
